*{
	margin:0;
	padding:0;
}
header{
    width: 100%;
    height: 500px;
    background-image: url(Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.header{
    width: 70%;
    margin: 0 auto;
}
.menu{
    padding-top: 30px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.menu img{
    cursor: pointer;
}
.text{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.text h1{
	font-size:38px;
}
.text p{
	margin-top:20px;
	font-size:12px;
}
.number{
    background-color: #F7F7F7;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    position: absolute;
    bottom: -25%;
}
.number div{
    padding: 10px 0;
    text-align: center;
    flex: 1;
}
.number h2{
    font-family: Oswald;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 107px;
    letter-spacing: 0em;
    text-align: center;
    color: #F7654A;
}
.number h3{
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.number p{
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #999999;
}
.project{
	width:70%;
	margin:0 auto;
	margin-top:300px;
	text-align:center;	
}
.card{
	margin-top:40px;
	width:100%;
	display:grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 4.25%;
}
.card p{
	margin-top:20px;
}
.card img{
    width: 100%;
}
.card1,.card2,.card3{
	text-align:left;
    /*position: relative;*/
}
.card-title{
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #404149;
}
.card-text{
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #999999;
}
.bg2{
	margin-top:50px;
	width:100%;
	height:100px;
	background-color: #F7654A;
}
.request{
	width:70%;
	margin:0 auto;
	color:white;
	display:grid;
    grid-template-columns: 85% 15%;
}

.text2 h2{
	padding-top:20px;
}
.text2 h4{
	margin-top:20px;
}
.button button{
	margin-top:30px;
	padding:10px;
	float:right;
	cursor:pointer;
    justify-content: end;
}
.button img{
    height: 10px;
    margin-right: 3px;
}
.rabota{
	width:70%;
	margin:50px auto;
	text-align:center;
}
.rabota h2{
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
}
.shenq{
    margin: 30px auto;
	display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.div{
    padding: 30px;
    background-color: #F7F7F7;
}
.photo{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.photo img{
    width: 100%;
}
.otvet{
	width:65%;
	margin:0 auto;
	margin-top:50px;
}
.otvet h2{
	text-align:center;
}
.harc img,h4{
	display:inline-block;
}
.harc h4{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #F7654A;
    cursor: pointer;
}
.harc h4:hover{
    border-bottom: black solid 2px;
}
.harc p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}
.partners{
    width: 100%;
    height: 320px;
    background-color: #404149;
}
.text3{
    width: 70%;
    margin: 50px auto;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 53px;
    text-transform: uppercase;
}
.bershko{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.reviews{
    text-align: center;
    margin-top: 60px;
}
.mecdiv{
    width: 70%;
    text-align: left;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.mecdiv div{
    background-color: #F7F7F7;
    padding: 38px 30px;
}
.mecdiv p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}
.mecdiv h4{
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 31px;
    letter-spacing: 0.02em;
}
.mecdiv span{
    color: #F7654A;
}
.contact{
    width: 70%;
    margin: 30px auto;
    text-align: center;
}
.contacts_item{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
}
.contacts_item img{
    height: 40px;
}
.contacts_item h3{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999999;
}
.contacts_item h4{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.info{
    color: #F7654A;
}
footer{
    margin-top: 150px;
    width: 100%;
    height: 82px;
    background-color: #404149;
}
.footer{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: white;
}